<footer>
    <p>Dedicated to the public domain under the <a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode" target="_blank">CC0 Public Domain Dedication</a></p>
</footer>

<script src="/public/JavaScript-autoComplete/auto-complete.js"></script>
<script src="/public/js/polyfill.js"></script>
<script src="/public/js/punkish.js"></script>

{{#hasJs}}
<script src="/entry-files/{{url}}/js/{{js}}.js"></script>
{{/hasJs}}

{{#hasCode}}
<script src="/public/highlight/highlight.pack.js"></script>
<script src="//cdn.jsdelivr.net/gh/TRSasasusu/highlightjs-highlight-lines.js@1.1.6/highlightjs-highlight-lines.min.js"></script>
{{/hasCode}}

<script>
    PK.autocomplete();

    PK.initializeDictionary();

    {{#hasCode}}
    hljs.initHighlighting();
    {{/hasCode}}

    {{#hasJs}}
    PK['{{js}}'].init();
    {{/hasJs}}
</script>