<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="version" content="4.0">
<meta name="author" content="Puneet Kishor">
<meta name="copyright" content="CC0 Public Domain Dedication">
<meta http-equiv="Cache-Control" content="max-age=604800, public">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
{{#isIndex}}
<meta http-equiv="Refresh" content="0; URL={{baseUrl}}/{{name}}">
{{/isIndex}}

<title>punkish: {{title}}</title>

<!-- see https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<!-- <link rel="stylesheet" href="{{baseUrl}}/_lib/css/fonts.css"> -->
<link rel="stylesheet" href="{{baseUrl}}/_lib/css/styles.css">
<link rel="stylesheet" href="{{baseUrl}}/_lib/JavaScript-autoComplete/auto-complete.css">

{{#if css}}
    {{#each css}}
    <link rel="stylesheet" href="css/{{.}}.css">
    {{/each}}
{{/if}}

{{#if hasCode}}
<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.0.1/styles/default.min.css">
{{/if}}

{{#if isDark}}
<link rel="stylesheet" href="{{baseUrl}}/_lib/css/dark.css">
{{/if}}

{{#if isMap}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<style>#map { width: 100%; height: 400px; padding: 0; margin: 0; }</style>
{{/if}}

{{#if isQgisMapper}}
<link rel="stylesheet" href="{{baseUrl}}/_lib/qgis-mapper/css/qgis2web.css">
<link rel="stylesheet" href="{{baseUrl}}/_lib/qgis-mapper/css/MarkerCluster.css" />
<link rel="stylesheet" href="{{baseUrl}}/_lib/qgis-mapper/css/MarkerCluster.Default.css" />
<link rel="stylesheet" href="{{baseUrl}}/_lib/qgis-mapper/css/leaflet-search.css" />
{{/if}}

{{#if isDygraph}}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
{{/if}}