{{> meta}}

<!-- <link rel="stylesheet" href="{{baseUrl}}/_lib/fonts/et-book/et-book.css">
<link rel="stylesheet" href="{{baseUrl}}/_lib/fonts/hack/hack-subset.css">
<link rel="stylesheet" href="{{baseUrl}}/_lib/fonts/Atkinson/atkinson.css"> -->
<link rel="stylesheet" href="{{baseUrl}}/_lib/css/uglyduck.css">
<link rel="stylesheet" href="{{baseUrl}}/_lib/css/punkish.css">
<!-- <link rel="stylesheet" href="{{baseUrl}}/_lib/JavaScript-autoComplete/auto-complete.css"> -->
<link rel="stylesheet" href="{{baseUrl}}/_lib/css/expanding-search.css">

{{#if css}}
    {{#each css}}
    <link rel="stylesheet" href="css/{{.}}.css">
    {{/each}}
{{/if}}

{{#if hasCode}}
<link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.5.1/styles/default.min.css">
{{/if}}

{{#if isDark}}
<link rel="stylesheet" href="{{baseUrl}}/_lib/css/dark.css">
{{/if}}

{{#if isMap}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
<style>#map { width: 100%; height: 400px; padding: 0; margin: 0; }</style>
{{/if}}

{{#if isQgisMapper}}
<link rel="stylesheet" href="{{baseUrl}}/_lib/qgis-mapper/css/qgis2web.css">
<link rel="stylesheet" href="{{baseUrl}}/_lib/qgis-mapper/css/MarkerCluster.css" />
<link rel="stylesheet" href="{{baseUrl}}/_lib/qgis-mapper/css/MarkerCluster.Default.css" />
<link rel="stylesheet" href="{{baseUrl}}/_lib/qgis-mapper/css/leaflet-search.css" />
{{/if}}

{{#if isDygraph}}
<link rel="stylesheet" href="{{baseUrl}}/_lib/dygraph/dygraph.min.css" />
{{/if}}