<div>
    <a href="/" class="home">
        {{#isDark}}
        <img src="{{baseUrl}}/_lib/img/PunkishEidesisOrg-inverse.png">{
        {{/isDark}}

        {{^isDark}}
        <img src="{{baseUrl}}/_lib/img/PunkishEidesisOrg.gif">
        {{/isDark}}
    </a> 

    <form name="search" method="GET" action="/entries">
        <input name="q" type="text" placeholder="there are none so blind as those who don’t see">
    </form>
</div>
<nav>
    <a href="{{baseUrl}}/cv-latest/">cv</a>
    <a href="{{baseUrl}}/Where/">where</a>
    <a href="{{baseUrl}}/_dates/">dates</a>
    <a href="{{baseUrl}}/_tags/">tags</a>
</nav>