<header class="row">
    <div>
        <a href="/" class="home">
            {{#isDark}}
            <img src="/public/img/PunkishEidesisOrg-inverse.png">
            {{/isDark}}

            {{^isDark}}
            <img src="/public/img/PunkishEidesisOrg.gif">
            {{/isDark}}
        </a> 

        <form name="search" method="GET" action="/entries">
            <input name="q" type="text" placeholder="there are none so blind as those who don’t see">
        </form>
    </div>
    <nav>
        <a href="/cv">cv</a>
        <a href="/Where">where</a>
        <a href="/entries?by=date">dates</a>
        <a href="/entries?by=tag">tags</a>
    </nav>
</header>