<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="version" content="4.0">
<meta name="author" content="Puneet Kishor">
<meta name="copyright" content="CC0 Public Domain Dedication">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta http-equiv="Cache-Control" content="max-age=604800, public">
{{#if isIndex}}
<meta http-equiv="Refresh" content="0; URL={{baseUrl}}/{{name}}/">
{{/if}}

<title>punkish: {{title}}</title>