<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="KONS">
    <meta name="version" content="4.0">
    <meta name="author" content="Puneet Kishor">
    <meta name="copyright" content="CC0 Public Domain Dedication">

    <meta http-equiv="Cache-Control" content="max-age=604800, public">
    
    <title>punkish: {{title}}</title>

    <!-- see https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/JavaScript-autoComplete/auto-complete.css">

    {{#hasCss}}
    <link rel="stylesheet" href="/entry-files/{{url}}/css/{{css}}.css">
    {{/hasCss}}

    {{#hasCode}}
    <link rel="stylesheet" href="/public/highlight/styles/monokai.css">
    {{/hasCode}}

    {{#isDark}}
    <link rel="stylesheet" href="/public/css/dark.css">
    {{/isDark}}
</head>