<script src="https://cdn.jsdelivr.net/npm/minisearch@3.0.4/dist/umd/index.min.js"></script>
<script src="{{baseUrl}}/_lib/JavaScript-autoComplete/auto-complete.js"></script>
<script src="{{baseUrl}}/_lib/js/polyfill.js"></script>
<script src="{{baseUrl}}/_lib/js/punkish.js"></script>

{{#if hasCode}}
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.0.1/highlight.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/TRSasasusu/highlightjs-highlight-lines.js@1.1.6/highlightjs-highlight-lines.min.js"></script>
<script>
    hljs.initHighlighting()
</script>
{{/if}}

{{#if isMap}}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" 
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
{{/if}}

{{#if isQgisMapper}}
<script src="{{baseUrl}}/_lib/qgis-mapper/js/leaflet-heat.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/leaflet.rotatedMarker.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/OSMBuildings-Leaflet.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/leaflet-hash.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/Autolinker.min.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/leaflet.markercluster.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/leaflet-search.js"></script>
{{/if}}

{{#if isCanvas}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>
    window.onload = function() {
        const canvas = document.querySelector("canvas")
        const ctx = canvas.getContext("2d")
        chart(ctx)
    }
</script>
{{/if}}

{{#if isDygraph}}
<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
<script src="{{baseUrl}}/_lib/papaparse/papaparse.min.js"></script>
<script src="{{baseUrl}}/_lib/web-audio-daw/wad.min.js"></script>
{{/if}}

{{#if js}}
    {{#each js}}
    <script src="js/{{.}}.js"></script>
    {{/each}}

    <script>
        window.onload = function() {
            PK['{{js}}'].init()
        }()
    </script>
{{/if}}

<script>
    fetch("{{baseUrl}}/_search/searchIdx.json")
        .then(response => response.text())
        .then(text => {
            window.miniSearch = MiniSearch.loadJSON(text, {
                fields: ['title', 'text'],
                storeFields: ['title', 'name'],
                searchOptions: {
                    boost: { title: 2 },
                    fuzzy: 0.2
                }
            })
        })
        .catch(err => console.log(err))

    window.onload = function() {
        PK.autocomplete();
        PK.initializeDictionary();

        const searchInPage = document.getElementById('searchInPage')
        if (searchInPage) {
            const inp = document.getElementsByName('tag')
            inp[0].addEventListener('keyup', PK.searchInPage)
        }
    }()
</script>