<script src="{{baseUrl}}/_lib/JavaScript-autoComplete/auto-complete.js"></script>
<script src="{{baseUrl}}/_lib/js/polyfill.js"></script>
<script src="{{baseUrl}}/_lib/js/punkish.js"></script>

{{#hasCode}}
<script src="https://unpkg.com/@highlightjs/cdn-assets@11.0.1/highlight.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/TRSasasusu/highlightjs-highlight-lines.js@1.1.6/highlightjs-highlight-lines.min.js"></script>
<script>
    hljs.initHighlighting()
</script>
{{/hasCode}}

{{#isMap}}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" 
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
{{/isMap}}

{{#isQgisMapper}}
<script src="{{baseUrl}}/_lib/qgis-mapper/js/leaflet-heat.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/leaflet.rotatedMarker.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/OSMBuildings-Leaflet.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/leaflet-hash.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/Autolinker.min.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/leaflet.markercluster.js"></script>
<script src="{{baseUrl}}/_lib/qgis-mapper/js/leaflet-search.js"></script>
{{/isQgisMapper}}

{{#isCanvas}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>
    window.onload = function() {
        const canvas = document.querySelector("canvas")
        const ctx = canvas.getContext("2d")
        chart(ctx)
    }
</script>
{{/isCanvas}}

{{#hasJs}}
    {{#each js}}
    <script src="{{baseUrl}}/{{dir}}/js/{{js}}.js"></script>
    {{/each}}

    <script>
        window.onload = function() {
            PK['{{js}}'].init()
        }
    </script>
{{/hasJs}}

<script>
    window.onload = function() {
        PK.autocomplete();
        PK.initializeDictionary();

        const searchInPage = document.getElementById('searchInPage')
        if (searchInPage) {
            const inp = document.getElementsByName('tag')
            inp[0].addEventListener('keyup', PK.searchInPage)
        }
    }
</script>

{{#isDygraph}}
<script src="{{baseUrl}}/dygraph/dygraph.min.js"></script>
<script src="{{baseUrl}}/papaparse/papaparse.min.js"></script>
<script src="{{baseUrl}}/web-audio-daw/wad.min.js"></script
{{/isDygraph}}