<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>punkish</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/normalize-7.0.0.min.css">
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="/public/css/styles.css">

    {{#css}}
    <link rel="stylesheet" href="/entry-files/{{entryUrl}}/css/{{css}}.css">
    {{/css}}

    {{#code}}
    <link rel="stylesheet" href="/public/highlight/styles/monokai.css">
    {{/code}}

    {{#map}}
    <link rel="stylesheet" href="/node-files/leaflet/dist/leaflet.css" />
    {{/map}}

    {{#qgismapper}}
    <link rel="stylesheet" href="/node-files/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.klokantech.com/mapbox-gl-js/v0.43.0/mapbox-gl.css" />
    <link rel="stylesheet" href="/public/qgis-mapper/css/qgis2web.css">
    <link rel="stylesheet" href="/public/qgis-mapper/css/MarkerCluster.css" />
    <link rel="stylesheet" href="/public/qgis-mapper/css/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="/public/qgis-mapper/css/leaflet-search.css" />
    {{/qgismapper}}

    <!-- see https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <div class="container">
        {{> header}}

        {{{content}}}
        
        {{> footer}}
    </div>

    <script src="/public/js/punkish.js"></script>

    {{#ledstrip}}
    <!-- beg: LED Strip -->
    <script src="/node-files/smoothie/smoothie.js"></script>
    <script src="/node-files/web-audio-daw/build/wad.min.js"></script>
    {{/ledstrip}}

    {{#code}}
    <script src="/public/highlight/highlight.pack.js"></script>
    {{/code}}

    {{#map}}
    <script src="/node-files/leaflet/dist/leaflet.js"></script>
    {{/map}}

    {{#qgismapper}}
    <script src="/node-files/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.klokantech.com/mapbox-gl-js/v0.43.0/mapbox-gl.js"></script>
    <script src="https://cdn.klokantech.com/mapbox-gl-leaflet/latest/leaflet-mapbox-gl.js"></script>
    <script src="/public/qgis-mapper/js/leaflet-heat.js"></script>
    <script src="/public/qgis-mapper/js/leaflet.rotatedMarker.js"></script>
    <script src="/public/qgis-mapper/js/OSMBuildings-Leaflet.js"></script>
    <script src="/public/qgis-mapper/js/leaflet-hash.js"></script>
    <script src="/public/qgis-mapper/js/Autolinker.min.js"></script>
    <script src="/public/qgis-mapper/js/leaflet.markercluster.js"></script>
    <script src="/public/qgis-mapper/js/leaflet-search.js"></script>
    <script src="/entry-files/{{entryDir}}/js/json_parcels0.js"></script>
    {{/qgismapper}}

    {{#js}}
    <script src="/entry-files/{{entryUrl}}/js/{{js}}.js"></script>
    {{/js}}

    <script>
        {{#cv}}
        PK.cv.init();
        {{/cv}}
        
        {{#ledstrip}}
        PK['ledstrip'].init();
        {{/ledstrip}}

        {{#where}}
        PK['where'].init();
        {{/where}}

        {{#qgismapper}}
        PK['qgismapper'].init();
        {{/qgismapper}}
    </script>
    
</body>
</html>