<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>punkish: {{title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- see https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/normalize-7.0.0.min.css">
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="/public/JavaScript-autoComplete/auto-complete.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/entry-files/{{entryUrl}}/css/{{css}}.css" />
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" /> -->
    <link rel="stylesheet" href="/node-files/dygraphs/dist/dygraph.min.css" />
</head>
<body>
    <div class="container">
    {{> header}}
    
    {{{content}}}
    
    {{> footer}}
    </div>

    <script src="/public/JavaScript-autoComplete/auto-complete.js"></script>
    <script src="/public/js/polyfill.js"></script>
    <script src="/public/js/punkish.js"></script>
    <script src="/node-files/dygraphs/dist/dygraph.min.js"></script>
    <script src="/node-files/papaparse/papaparse.min.js"></script>
    <script src="/entry-files/{{entryUrl}}/js/{{js}}.js"></script>
    <script>
        PK.autocomplete();

        PK["{{js}}"].init();
    </script>
</body>
</html>