{{> meta}}
</head>
<body>
    <div class="container">
    {{> header}}
    
    {{{content}}}
    
    {{> footer}}
    </div>

    <script src="/public/js/polyfill.js"></script>
    <script src="/public/js/punkish.js"></script>

    <script src="/node-files/smoothie/smoothie.js"></script>
    <script src="/node-files/web-audio-daw/build/wad.min.js"></script>
    <script src="/entry-files/{{entryUrl}}/js/led-strip.js"></script>
    
    <script>
    PK['led-strip'].init();
    </script>
</body>
</html>