{{> meta}}
</head>
<body>
    <div class="container">
    {{> header}}
    
    {{{content}}}
    
    {{> footer}}
    </div>

    <script src="/public/js/polyfill.js"></script>
    <script src="/public/js/punkish.js"></script>

    {{#hasJs}}
    <script src="/entry-files/{{entryUrl}}/js/{{js}}.js"></script>
    {{/hasJs}}
    
    {{#hasCode}}
    <script src="/public/highlight/highlight.pack.js"></script>
    {{/hasCode}}
    
    <script>
        {{#hasJs}}
        PK['{{js}}'].init();
        {{/hasJs}}
    </script>
</body>
</html>