<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>punkish</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/Skeleton-2.0.4/css/normalize-7.0.0.min.css">
    <link rel="stylesheet" href="/Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="/highlight/styles/monokai.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- see https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <div class="container">
        {{> header}}

        {{{content}}}
        
        {{> footer}}
    </div>

    <script src="/highlight/highlight.pack.js"></script>
    <script>
    {{{script}}}
    </script>
</body>
</html>