<!DOCTYPE html>
<html lang="en">
<head>
    {{> meta}}

	<link rel="stylesheet" href="{{baseUrl}}/_lib/fonts/et-book/et-book.css">
	<link rel="stylesheet" href="{{baseUrl}}/_lib/fonts/hack/hack-subset.css">
	<link rel="stylesheet" href="{{baseUrl}}/_lib/fonts/Atkinson/atkinson.css">
	<link rel="stylesheet" href="{{baseUrl}}/_lib/css/uglyduck.css">
    <link rel="stylesheet" href="{{baseUrl}}/_lib/css/remark-styles.css">
    {{#if css}}
		{{#each css}}
    	<link rel="stylesheet" href="../css/{{.}}.css">
		{{/each}}
    {{/if}}
</head>
<body>

<!-- 
	it is very important that the 'content' partial is flush left because 
	`remark` will apply markdown-to-html conversion and will get misled by 
	left space padding, thinking it is code 
-->
{{{content}}}

	{{#if isBlockchain}}
	<script src="//unpkg.com/@highlightjs/cdn-assets@11.5.1/highlight.min.js"></script>
	<script src="//cdn.jsdelivr.net/gh/TRSasasusu/highlightjs-highlight-lines.js@1.1.6/highlightjs-highlight-lines.min.js"></script>
	<script src="{{baseUrl}}/_lib/remark/remark-no-keys.min.js"></script>
	<script src="{{baseUrl}}/_lib/crypto-js/crypto-js.js"></script>
	{{else}}
	<script src="{{baseUrl}}/_lib/remark/remark-latest.min.js"></script>
	{{/if}}

	{{#if js}}
		{{#each js}}
    	<script src="../js/{{.}}.js"></script>
		{{/each}}
    {{/if}}
	
    <script>
	let slideshow
	window.addEventListener('load', function(e) {
		slideshow = remark.create({
			
			// ratio: '16:9',
			ratio: '4:3',
			navigation: {
				click: false,
				scroll: false,
				touch: true
			},
			slideNumberFormat: '%current% / %total%',
			
			// Enable or disable counting of incremental slides 
			countIncrementalSlides: true,

			highlightStyle: 'monokai',
			highlightLanguage: 'remark',
			highlightLines: true
		});

		// var maps = {};
		// var mapUrl = "http://{s}.tile.osm.org/{z}/{x}/{y}.png";
		// var mapAttrib = "&copy; <a href='http://osm.org/copyright'>OpenStreetMap</a> contributors";

		// slideshow.on('showSlide', function (slide) {
		// 	//PK.initializeDictionary();

		// 	if (slide.properties.mapfn1) {
		// 		eval(slide.properties.mapfn1);
		// 	}
		// });

		// slideshow.on('afterShowSlide', function (slide) {
		// 	if (slide.properties.mapfn2) {	
		// 		eval(slide.properties.mapfn2);
		// 	}

		// 	// var found = slide.properties.name.match(/term\d/);
		// 	// if (found[0]) {
		// 	// 	term(found[0]);
		// 	// }
		// });
	})
    </script>

	{{#if isBlockchain}}
	<script>
	window.addEventListener('load', function(e) {			
		BC.initS1();
		BC.initS2();
		BC.validate();
		BC.revalidate();
		BC.oneDetailOneClick();
		slideshow.on('showSlide', function (slide) {

			// Slide is the slide being navigated to
			if (slide.properties.name === 'realtime') {
				BC.latestBtcTxns(document.getElementById('latestBtc'));
			}
		})
	})
	</script>
	{{/if}}
</body>
</html>