{{> meta}}

<link rel="stylesheet" href="/node-files/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdn.klokantech.com/mapbox-gl-js/v0.43.0/mapbox-gl.css" />

<link rel="stylesheet" href="/public/qgis-mapper/css/qgis2web.css">
<link rel="stylesheet" href="/public/qgis-mapper/css/MarkerCluster.css" />
<link rel="stylesheet" href="/public/qgis-mapper/css/MarkerCluster.Default.css" />
<link rel="stylesheet" href="/public/qgis-mapper/css/leaflet-search.css" />
<style>
#map { width: 100%; height: 400px; padding: 0; margin: 0; }
</style>
</head>
<body>
    <div class="container">
    {{> header}}

    {{{content}}}

    {{> footer}}
    </div>

    <script src="/node-files/leaflet/dist/leaflet.js"></script>

    <script src="https://cdn.klokantech.com/mapbox-gl-js/v0.43.0/mapbox-gl.js"></script>
    <script src="https://cdn.klokantech.com/mapbox-gl-leaflet/latest/leaflet-mapbox-gl.js"></script>
    
    <script src="/public/qgis-mapper/js/leaflet-heat.js"></script>
    <script src="/public/qgis-mapper/js/leaflet.rotatedMarker.js"></script>
    <script src="/public/qgis-mapper/js/OSMBuildings-Leaflet.js"></script>
    <script src="/public/qgis-mapper/js/leaflet-hash.js"></script>
    <script src="/public/qgis-mapper/js/Autolinker.min.js"></script>
    <script src="/public/qgis-mapper/js/leaflet.markercluster.js"></script>
    <script src="/public/qgis-mapper/js/leaflet-search.js"></script>

    <script src="/public/js/punkish.js"></script>
    <script src="/entry-files/{{entryUrl}}/js/tirana.js"></script>
    <script src="/entry-files/{{entryUrl}}/js/json_parcels0.js"></script>
    <script>
    {{#hasJs}}
    PK['{{js}}'].init();
    {{/hasJs}}
    </script>
</body>
</html>