.left-column h2 {
    font-size: 2em !important;
  }
  .left-column {
  color: #dadada;
  width: 40%;
  float: left;
  }
  .left-column h2:last-of-type,
  .left-column h3:last-child,
  .left-column h4:last-child {
  color: #000;
  }
  .right-column {
  width: 60%;
  float: right;
  font-size: 1.1em !important;;
  }