<!-- entries by tags -->
<section>
    <h1 class="title">Entries by Tag</h1>
    <div class="created">{{created}}</div>

    <div class="content">
        <p>entries sorted by tags. (also see <a href="/entries?by=date">entries by date</a>.)</p>

        {{#each entries}}
        <details>
            <summary>{{tag}}</summary>
            {{#each entriesByTag}}
            <details class="entry">
                <summary>{{title}}</summary>
                <div class="notes">{{notes}} <a href="/{{name}}">more</a></div>
            </details>
            {{/each}}
        </details>
        {{/each}}
    </div>
</section>