<!-- entries by dates -->
<section>
    <h1 class="title">Entries by Date</h1>
    <div class="created">{{created}}</div>

    <div class="content">
        <p>entries sorted by year and month. (also see <a href="/_tags/">entries by tag</a>.)</p>

        {{#entries}}
        <details class="year">
            <summary>{{year}}</summary>
            {{#months}}
            <details class="month">
                <summary>{{month}}</summary>
                {{#entries}}
                <details class="entry">
                    <summary>{{title}}</summary>
                    <div class="notes">{{notes}} <a href="/{{name}}">more</a></div>
                </details>
                {{/entries}}
            </details>
            {{/months}}
        </details>
        {{/entries}}
    </div>
</section>