<section class="row">
    <!-- <h1 class="title">{{{title}}}</h1>
    <div class="date">{{created}}</div>
    <div class="description">{{{description}}}</div> -->

    <div class="content">
        <div class="intro-slide">
            <h2>{{{title}}}</h2>
            <h3>{{{authors}}}</h3>
            <div class="where">a presentation given at {{{where}}}</div>
            <div class="where">{{{when}}}</div>
            <div class="notes">{{{notes}}}</div>
            <a href="{{url}}?presentation=true">start slideshow</a>
        </div>
    </div>

    <ul class="tags">
        {{#tags}}
        <li><a href="/entries?q=tags:{{.}}">{{.}}</a></li>
        {{/tags}}
    </ul>

    
    <ul class="bottomNav">
        <li class="prev"><a href="/{{prev.file}}">{{prev.title}}</a></li>
        <li class="next"><a href="/{{next.file}}">{{next.title}}</a></li>
    </ul>
</section>
