<section class="row">
    <h1 class="title">{{{title}}}</h1>
    <div class="date">{{created}}</div>
    <div class="description">{{{description}}}</div>

    <div class="content">{{{notes}}}</div>

    <div class="slideContainer">
        <div class="intro-slide" onclick="window.location='{{name}}?presentation=true';">
            <h2>{{{title}}}</h2>
            <h3>{{{authors}}}</h3>
            <div class="where">a presentation given at {{{where}}}</div>
            <div class="when">{{{when}}}</div>
            <a href="{{baseUrl}}/{{name}}/p/">start slideshow</a>
        </div>
    </div>

    {{> tags}}
    
    {{> prevNext}}
</section>
