/* dark mode */
body {
	background-color: #000;
}

a {
	color: grey;
}

input[name=q] {
	background-color: black;
	color: white;
	min-width: 400px;
}

h1,
h2,
h3, 
h4, 
h5, 
h6, 
p, 
.title,
.description,
.date,
.content,
.tags {
	color: #ccc;
}

/* end dark mode */