@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
font-family: Raleway, 'Work Sans', 'Alegreya Sans', sans-serif;
}

h1, h2, h3 {
font-family: 'Raleway';
font-weight: 400;
margin-bottom: 0;
}

h1 {
font-size: 4em !important;
}

h3 {
font-size: 1.2em !important;
}

h3:first-child {
padding-top: 1em;
}

/*
h3 {
color: #dadada;
}

h3:last-of-type {
color: #dadada;
}
*/
h4 {
font-size: 1em !important;
line-height: 1em;
}

h4:first-child {
padding-top: 1em;
}

cite {
font-family: serif;
}

.author {
margin-top: 10em;
font-size: xx-large;
}

.small {font-size: 0.7em;}

.hilite {color: #ff8000;}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.footnote {
font: normal 200 0.9em/1.2em sans-serif;
position: absolute;
bottom: 3em;
}

.red { font-weight: bold; color: #fa0000; }

/* Two-column layout */
.left-column {
/* color: #dadada; */
width: 20%;
height: 92%;
float: left;
font-size: 0.9em;
}
.left-column h2:last-of-type,
.left-column h3:last-child,
.left-column h4:last-child {
color: #000;
}
.right-column {
width: 75%;
float: right;
padding-top: 1em;
}

/* Two-column layout */
.two-left-column {
width: 48%;
height: 92%;
float: left;
}
.two-left-column h2:last-of-type,
.two-left-column h3:last-child {
color: #000;
}
.two-right-column {
width: 48%;
float: right;
}
.two-column-header h3 {
margin-bottom: 1em;
border: 1px solid #444;
border-radius: 5px;
padding: 3px 10px;
font-family: sans-serif;
font-weight: normal;
}
.two-column-header h3.yes {
background-color: #444;
color: #0f0;
}
.two-column-header h3.no {
background-color: #444;
color: #f00;
}

.two-column-header h2 {
margin-top: 0;
}

/* one-third-left layout */
.one-third-left-column {
color: #777;
width: 20%;
height: 92%;
float: left;
}
.one-third-left-column h2:last-of-type,
.one-third-left-column h3:last-child {
color: #000;
}
.two-thirds-right-column {
width: 75%;
float: right;
padding-top: 1em;
}

/* Three-column layout */
.three-left-column, 
.three-mid-column, 
.three-right-column {
width: 30%;
height: 92%;
padding: 10px;
font-size: 0.8em;
}

.three-left-column h4, 
.three-mid-column h4, 
.three-right-column h4 {
text-align: center;
}

.three-left-column, .three-mid-column {
float: left;
}

.three-right-column {
float: right;
}

/* Four-column layout */
.four-first-column {
width: 25%;
height: 92%;
float: left;
}

.four-second-column {
width: 25%;
height: 92%;
float: left;
}

.four-third-column {
width: 25%;
height: 92%;
float: left;
}

.four-fourth-column {
width: 25%;
height: 92%;
float: right;
}

.slidefooter {
position: absolute;
width: 95%;
bottom: 0;
left: 5px;
}

a {color: blue;}

blockquote {
border-left: 2px solid grey;
padding-left: 1em;
margin-left: -1em;
/* background-image: url('/img/double-quote-left.png');
background-repeat: no-repeat;
background-position: -1em -1em; */
}

blockquote p {
line-height: 1.25em;
}

li { line-height: 1.25em;
margin-top: 1em;}

table {border-style: collapse; }
th, td {border-top: 1px #ccc solid;
border-bottom: 0px #ccc solid;
padding: 0; font-size: 0.6em; }
th.center_heading {text-align: center;}
th.left_heading {text-align: left;}

table li {
line-height: 1em;
margin-top: 0;
}

.hilite {
color: black;
background-color: #ffcc00;
}
.byline {
color: grey;
}
h2 {
margin-bottom: -0.25em;
}
/* .remark-code, .remark-inline-code {
font-family: monospace;
font-size: 0.8em;
} */

/*
.inverse {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
color: #f3f3f3;
line-height: 0.8em;
}

#slide-inverse .footnote {
bottom: 12px;
left: 20px;
}
*/
.inverse {
    background: #000;
    color: #fff;
    text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
color: #f3f3f3;
/*line-height: 0.8em;*/
}

#slide-inverse .footnote {
bottom: 12px;
left: 20px;
}

.inverse img.bottom {
position:absolute;
bottom: 0;
left: 0;
}

#punkish-logo-large,
#punkish-logo-small,
#punkish-logo-inverse-large,
#punkish-logo-inverse-small {
background-repeat: no-repeat;
background-position-x: 0;
background-position-y: 0;
display: block;
float: left;
}

#punkish-logo-large {
background-image: url('/img/PunkishEidesisOrg.gif');
}

#punkish-logo-small {
background-image: url('/img/PunkishEidesisOrg-small.gif');
}

#punkish-logo-inverse-large {
background-image: url('/img/PunkishEidesisOrg-inverse.png');
}

#punkish-logo-inverse-small {
background-image: url('/img/PunkishEidesisOrg-inverse-small.png');
}

#punkish-logo-large,
#punkish-logo-inverse-large {
width: 40px;
height: 40px;
}

#punkish-logo-small,
#punkish-logo-inverse-small {
width: 30px;
height: 30px;
}

.slidefooter {
padding-bottom: 5px;
}

.slidefooter img {
float: left;
}

/* slide headings */
.two-left-column h3:first-child,
.two-right-column h3:first-child {
font-weight: bold;
border-bottom: 1px dotted black;
}

.two-left-column h4,
.two-right-column h4 {
font-weight: normal;
}

.two-left-column ul,
.two-right-column ul {
margin-left: -3rem;
}

.two-left-column li,
.two-right-column li {
line-height: 1rem;
margin: 0.5rem;
font-size: 1rem;
}

.punkish-dim {
color:  #c0c0c0 !important;
}

.punkish-invisible {
color:  #fff;
}

.inverted {
color: #fff;
}

.h1-byline {
margin-top: 0.25em;
}

.h2-byline {
margin-top: -1em;
}

code {
overflow-x: scroll;
overflow-y: scroll !important;
font-size: 0.7em !important;
/* max-height: 60%;
width: 80%;
position: absolute; */
}

/* end slide headings */

.punkish-pair {
border-bottom: 1px dotted black;
cursor: pointer;
}

td {
padding: 5px;
}

.map {
width: 100%;
height: 95vh;
border: 1px solid black;
}

.header {
font-weight: bold;
}

img.overlay {
    position: absolute;
}

/* Three-column layout with left column inverse */
.three-left-column-inverse, 
.three-mid-column-inverse, 
.three-right-column-inverse {
width: 30%;
height: 92%;
padding: 10px;
}

.three-left-column-inverse h4, 
.three-mid-column-inverse h4, 
.three-right-column-inverse h4 {
text-align: center;
}

.three-left-column-inverse, 
.three-mid-column-inverse,
.three-right-column-inverse {
float: left;
}

/* .three-right-column-inverse {
float: right;
} */

.three-left-column-inverse {
background-color: #444;
color: white;
}

img.remark {
    width: 100%;
}

/* iframe {
    margin-top: 2em;
    width: 100%;
    height: 53vw;
    border: none;
    position: relative;
}
.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
}
.block {
    float: left;
    margin-right: 1em;
} */