header {
	margin-bottom: 3em;
}
.home {
	text-decoration: none;
	color: black;
	font-size: x-large;
	font-weight: 800;
}
header div {
	border-bottom: 1px solid lightgrey;
	overflow: hidden;
	width: 100%
}
i, 
em {
	font-family: serif;
}
blockquote i, 
blockquote em,
blockquote a {
	font-family: serif;
	padding-left: 0 !important;
}
a {
	color: blue;
}
nav a {
	margin-right: 0.75em;
	font-size: small;
}
ul.tags {
	list-style: none;
	margin-top: 3em;
}
ul.tags:after {
	clear: both;
	margin-bottom: 2em;
}
.tags li {
  	float: left;
	margin-right: 0.75em;
	border: solid 1px grey;
	padding: 0 5px 0 5px;
	border-radius: 5px;
	font-size: small;
}
.tags li:hover {
	background-color: yellow;
}
.tags li a {
	text-decoration: none;
}
ul.bottomNav {
	clear: both;
	list-style: none;
}
ul.bottomNav li {
	margin-bottom: 0;
}
li.prev:before {
	content: '\2190 ';
}
div.content li.next:before {
	content: '\2192 ';
}
div.content ul {
	list-style: disc outside;
}
li {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

figure {
	width: 100%;
	margin: 0;
	margin-bottom: 1em;
}
figure img {
	width: 100%;
}
figure.not100 img {
	width: unset;
}
cite {
	font-style: normal;
	background-color: #f5f5f5
}
q {
	border: 0px solid silver;
	background-color: silver;
	border-radius: 5px;
	padding: 10px;
	quotes: none;
}

#map {
	width: 100%;
	height: 400px;
}
.title {
	margin-bottom: 0;
	font-size: 1.5em;
	font-weight: 400;
}
.description {
	font-family: serif;
	font-size: 1.2em;
	font-weight: 800;
/* 	font-style: italic; */
}
/* .content {
	margin-top: 3em;
	font-family: "et-book", serif;
	font-size: 21px;
} */
h2 {
	margin-bottom: 0;
	font-size: 1.2em;
	font-weight: 800;
}
h3 {
	font-size: 2rem;
	font-weight: 400;
}
.on {
	visibility: visible;
	display: block;
}
.off {
	visibility: hidden;
	display: none;
}

.hilite {
	background-color: #ffcc00;
	padding: 10px;
}
.archive {
	background-color: lightcoral;
	color: black;
	font-family: sans-serif;
	font-size: small;
	border: 1px solid;
	padding: 5px;
	margin-bottom: 50px;
}
.archive u {
	color: white;
}
header div img {
	float: left;
}
header div form {
	float: left;
	height: 0px;
}
input[name=q] {
	width: 220px;
	border: none;
}
header nav {
	float: left;
}
.punkish-pair {
	border-bottom: 1px dotted grey;
	cursor: pointer;
}
pre {
	font-size: small;
}
div.date {
	margin-bottom: 2em;
}
details.month,
details.entry,
details.entry .notes,
ul.posts {
	margin-left: 2em;
}
details.entry .notes {
	margin-bottom: 1em;
}
div.oldstyle {
	font-size: x-large;
	font-weight: 400;
}
div.oldstyle title {
	text-align: center;
	font-size: xx-large;
	font-weight: 800;
	margin-bottom: 5rem;
}

dt {
	font-weight: bold;
  margin-top: 1.5rem;
}

dd {
	margin-left: 0;
}

code {
	font-family: 'Fira Code', Hack, monospace;
}
ol.punkish-footnotes {
	border-top: 1px dotted; 
	font-size: 0.8em;
	font-family: sans-serif;
}
li.punkish-footnote {
	margin-left: 1em;
	text-indent: -1em;
}
.content {
	width: 100%;
	position: relative;
/* 	font-family: "et-book", serif; */
}

/* 
Fitting a div to the screen size AND an aspect ratio.
https://codepen.io/EightArmsHQ/post/fitting-a-div-to-the-screen-and-an-aspect-ratio
*/

.slideContainer {
	border: 1px solid silver;
	width: 100%;
	padding-bottom: 56.25%;
	position: relative;
	margin-top: 2em;
	font-family: "et-book", serif;
	background: #555;
	box-shadow: inset 1vh 1vh 10vh 0 rgba(0, 0, 0, 0.5);
	display: flex;
	box-sizing: border-box;
	border: 10px solid #cecece;
}

.intro-slide {
	padding: 1em 1em 3em 1em;
	position: absolute;
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0;
	overflow: auto;
	color: white;
	font-size: 1rem;
	font-family: sans-serif;
	overflow-y: auto;
	cursor: pointer;
}
.intro-slide:hover {
	background-color: #f5f5f5;
	color: #444;
}
.intro-slide h2 {
	font-size: 2em;
}
.intro-slide h3 {
	font-size: 1.5em;
}
.intro-slide .where {
	font-size: 1.3em;
}
.intro-slide .notes {
	font-size: 1.2em;
	/* height: 50%; */
	overflow: auto;
	margin-top: 2em;
}
.intro-slide a {
	font-size: 1.2em;
	color: lightgrey;
}
.intro-slide a:hover {
	color: yellow;
}
.intro-slide .when {
	margin-bottom: 2em;
}
/*
nice blockquotes
https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/
*/
blockquote {
	border-left: 2px solid grey;
	margin-left: 0px;
}
blockquote * {
	padding-left: 20px;
}
.quote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
  	quotes: "\201C""\201D""\2018""\2019";
}
.quote:before {
	color: #ccc;
	content: '“';
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0;
	vertical-align: -0.4em;
}

.fauxcode {
	font-family: monospace;
	font-size: 120%;
	background-color: #c0c0c0;
	padding: 2px;
	border-radius: 2px;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
	input[name=q] {
		width: 600px;
	}
	.slideContainer {
		border-width: 25px;
	}
	.intro-slide {
		padding: 2em 2em 5em 2em;
		font-size: 1.25rem;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.intro-slide {
		padding: 3em 3em 8em 3em;
		font-size: 2rem;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.slideContainer {
		width: 70%;
		padding-bottom: 39.375%;
		font-size: 1.25rem;
	}
	.intro-slide {
		padding: 2em 2em 5em 2em;
		font-size: 1.25rem;
	}
}