/* @start cv */

.cv-quicktabs {
	font-family: sans-serif;
    font-size: small;
    line-height: 1.6rem;
}

.cv-quicktabs a {
	margin-right: 1.5rem;
}

.cv-quicktabs a:hover {
	background-color: #c0c0c0;
}

.cv-tab {
	text-transform: uppercase;
}

.cv-tab-section {
	text-transform: uppercase;
	font-weight: bold;
}

div.cv-panel_intro {
	font: italic normal 1.1em serif !important;
	color: grey;
	margin-bottom: 1em;
	line-height: 1.5em !important;
}

/* nth-child(odd)/(even) trick from
 * http://stackoverflow.com/questions/5080699/using-css-even-and-odd-pseudo-classes-with-list-items
 */

/*
div.cv-job:nth-child(odd), 
div.cv-pub:nth-child(odd) {}

div.cv-job:nth-child(even), 
div.cv-pub:nth-child(even) {}
*/

div.cv-job {
	font-weight: 400;
	line-height: 1.2em !important;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #ccc;
	clear: both;
}

div.cv-job blockquote, 
p.cv-summary {
	font-weight: 200;
	line-height: 1.2em !important;
}

div.cv-subjob {
	font-weight: 400;
	font-style: italic;
	font-family: serif;
	line-height: 1.2em !important;
	padding-top: 1em;
}

div.cv-pub {
	line-height: 1.2em !important;
	font-weight: 200;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #ccc;
}

div.cv-cat {
	margin-top: 1em;
	font-weight: 200;
}

.cv-dept {
	font-weight: 800;
}

.cv-subdept {
	background-color: #ccc;
}

div.cv-cat ul {
	/*margin-left: -1.3em !important;*/
	margin-top: 1em;
}

div.cv-cat ul li {
	margin-top: 0.5em;
	font-weight: 200;
	list-style: none;
}
/* @end */