<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>	   <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>	   <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="version" content="4.0">
	<meta name="author" content="Puneet Kishor">
	<meta name="copyright" content="CC0 Public Domain Dedication">
	<meta http-equiv="Cache-Control" content="max-age=604800, public">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<title>punkish: {{title}}</title>

	<!-- see https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests -->
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	
	<link rel="stylesheet" href="/lib/remark/remark-style.css">
	<link rel="stylesheet" href="/lib/css/remark-hanoz.css">
</head>

<body class="container">
    
<!-- it is very important that the 'content' partial is flush left because `remark` will apply markdown-to-html conversion and will get misled by left space padding, thinking it is code -->
<textarea id="source">
{{{content}}}
</textarea>

	<script src="/lib/remark/remark-latest.min.js"></script>
	<script type="text/javascript">
	window.onload = function() {
		var slideshow = remark.create({
			
			// ratio: '16:9',
			ratio: '4:3',
			navigation: {
				click: true,
				scroll: false,
				touch: true
			},
			slideNumberFormat: '%current% / %total%',
			
			// Enable or disable counting of incremental slides 
			countIncrementalSlides: true
		});
	}
	</script>
</body>
</html>