#searchResults { 
  visibility: inherit; 
  width: 562px; 
  background-color: lightblue;
  position: absolute;
  margin: 0 auto;
  padding: 0;
/*   left: 15px; */
  top: 66px;
/*   right: 28px; */
  /* border: 0px solid var(--plazi-green); */
  border-top: none;
  
}
#searchResults ul {
  padding: 0;
}
#searchResults li { 
  list-style: none;
  margin-left: 0px;
  padding-left: 10px;
  height: 30px;
  border-bottom: 1px dotted #000;
}
#searchResults a { 
  text-decoration: none !important; 
/*     padding: 10px;  */
  display: inline-block; 
  font-size: 10pt;
  color: black !important;
}
#searchResults li:hover, li:focus { 
  outline: 0; 
  background-color: #666; 
  color: #fff; 
}
mark {
  background-color: yellow;
  padding: 2px;
  border: 1px solid grey;
  border-radius: 2px;
  color: #666;
}